body { padding: 0; margin: 0; vertical-align: middle; }

main section { max-width: 760px; margin: 0 auto; }

header { height: 100%; background-color: #a624b5; background: -moz-linear-gradient(top, #a624b5 0%, #5d7aaa 100%); background: -webkit-linear-gradient(top, #a624b5 0%, #5d7aaa 100%); background: linear-gradient(to bottom, #a624b5 0%, #5d7aaa 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a624b5', endColorstr='#5d7aaa',GradientType=0 ); border-bottom: 2px solid #eee; margin-bottom: 50px; -webkit-transition: all 3s ease; -moz-transition: all 3s ease; -ms-transition: all 3s ease; transition: all 3s ease; }

header h1 { padding: 0; margin: 0; text-align: center; vertical-align: middle; line-height: 250px; font-size: 7em; color: white; font-weight: lighter; }

img { margin: 0 auto; width: 300px; height: 300px; }

table { margin-left: auto; margin-right: auto; }

section.projects { font-weight: lighter; }

section.projects > h1, h2, p { padding: 2em; }

section.projects td { position: relative; width: 100%; }

section.projects h3 { position: absolute; top: 235px; }

section.projects h3 span { color: white; font: bold 24px/45px Helvetica, Sans-Serif; letter-spacing: -1px; background: black; background: rgba(0, 0, 0, 0.7); padding: 10px; }

section.projects img { width: 400px; height: 300px; }

p { padding: 0 50px; }

.overlay { opacity: .5; background-color: 0.62638; }

@media only screen and (max-width: 800px) { h1 { padding: 0 20px; } }

@media only screen and (max-width: 600px) { header h1 { font-size: 4em; }
  img { width: 100% !important; height: auto !important; }
  td { display: block !important; clear: both !important; }
  main { width: 100%; } }
