//output: ../about.html
extends ./layout.jade

block title
  title

block content
  section.about.sheet
    article
      h1 About the artist.
      p(style="display:none;") Kameron is an engineer that prefer's simplicity over complexity. All too often as engineer's we craft project's to be more complex than necessary. Kameron's goal is to engineer the entire stack to be as simple as possible while keeping complex architecure in mind. Kameron has contributed to open source tool's within Apple Inc. while interning during Summer 16' he also has contributed to Free Code Camp via Github and Gitter.
      p 
        i "Keep an open mind and an open imagination then thread those two together to make something great." 
        br
        span -Kameron A. Robinson
  section.sheet
    article
      h1 Photography.
      table(width='', cellpadding='10')
        tr
          td(align='center', valign='center')
            img#photoOfTheDay(src="https://unsplash.it/900")
            br
            | Photo of the day
          td(align='center', valign='center')
            img#photoOfYesterday(src="https://unsplash.it/901")
            br
            | Yesterdays photo
  include ./includes/foot.jade
