doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css')
    link(rel="stylesheet" type="text/css" href='/assets/css/style.min.css')
    script(type='text/javascript', language='javascript', src='/assets/js/language.json')
    script.
          function dismissLoader() { 
              document.getElementById('app').style.display = "block";
              document.getElementsByClassName('loader')[0].style.display = "none";
           }
    block title
      title Kameron Robinson
  body(onload="dismissLoader()" style="position: relative;")
    .loader
    main#app(style="display:none;")
      header#languageCradel(style="height:100%;")
        h1#language.animated.fadeInDown Hi, I'm Kam.
      block content
        
