//output: ../pages/resume.html
extends ./layout.jade

block title
  title

block content
  section.about.sheet
    article.resume
      a(download="KameronRobinsonResume71619.pdf" href="../assets/resume/resume71916.pdf" title="Resume71916")
        img(src="../assets/images/resume71916.png" style="height:1200px; width:100%;")
  include ./includes/foot.jade
