#spacer
footer#navFooter
  article.construction
    p(style="font-size:.1em;position:fixed;top:0;right:0;") Site is currently under construction copyright Kameron Robinson (c) 2016 All Rights Reserved.
  nav
    ul
      li 
        a(href="/") Projects
      li 
        a(href="./pages/about.html") About
      li
        a(href="./pages/resume.html") Resume

script(type='text/javascript', language='javascript', src='/assets/js/main.js')
script(src='https://www.gstatic.com/firebasejs/3.1.0/firebase.js')
script(type='text/javascript', language='javascript', src='/assets/js/firebase.js')
